$primary: #2898fb !important;
$secondary: white !important;

* {
  box-sizing: border-box;
}

body {
  background: $primary;
  color: $secondary;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

#__next {
  width: 100%;

  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

.index {
  > h1 {
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center;
  }

  &-controls {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    button {
      background: #5bcbfe !important;
      color: white !important;
      display: block !important;
      margin: 0 auto !important;
    }
  }

  &-header {
    display: flex;
    justify-content: space-between;
    background: $secondary;
    color: $primary;
    width: 100%;

    h1 {
      font-size: 1.2rem;
    }
  }
}
